/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 oct 2025, 16:31:17
    Author     : Fer_ITM
*/
body {
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif; 
    color: #333;
    margin: 20px; 
}
